
*{
  margin: 0;
  padding: 0;
}

.main{
  position: relative;
  width: 100vw;
}

.storyContainer{
  position: absolute;
  top: 10vh;
  left: 30vw;
  z-index: 1;
}

.Categories{
    flex-wrap: nowrap;
    width: 100vw;
}

.stories{
 
}
